table {
    height:800px;
    width:400px;
    border: 4px solid black;
    margin:auto;
    background-color: rgb(65, 63, 63);
    font-size: 18px;
    color:white;
}

input {
    font-size:20px;
    width:98%;
    background-color: gainsboro;
}

.screen {
    height:300px;
    background-color: gray;
    text-align: right;
    font-size: 50px;
    color: white;

}

.button {
    text-align: center;
    width: 10%
}

.button:hover {
    background-color: rgb(163, 163, 163);
}

.delete {
    background-color: red;
    text-align: center;
}

.delete:hover {
    background-color: rgb(250, 127, 127);
}

.equals {
    background-color: blue;
    text-align: center;
}

.equals:hover {
    background-color: rgb(117, 117, 238);
}

.undo {
    background-color: rgb(86, 123, 155);
    text-align: center;
    width:30%;
}

.undo:hover {
    background-color: rgb(70, 112, 98);
}